# 4.6. Combining & Exporting Data (2)

## This script contains the following points:

1. Import the data sets into Jupyter.
   
2. Check the dimensions of the imported dataframes.
   
3. Determine a suitable way to combine the orders_products_combined dataframe with the products data set.
   
4. Confirm the results of the merge using the merge flag.
   
5. Export the newly created dataframe as ords_prods_merge in a suitable format.

# 1. Import the data sets into Jupyter.

In [35]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [36]:
path = r'C:\Users\Sanket\Documents\MM-2020 Instacart Basket Analysis'

In [37]:
#Importing data set orders_products_combined.pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data','Prepared data','orders_products_combined.pkl'))

In [38]:
# Import dataset products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 2. Check the dimensions of the imported dataframes

In [39]:
# Check the output
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [40]:
df_ords_prods_combined.shape

(32434489, 11)

In [41]:
# Check the output
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [42]:
# Drop unnecessary columns
df_prods = df_prods.drop(['Unnamed: 0'], axis=1)

In [43]:
# Check the output
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [44]:
df_prods.shape

(49672, 5)

# 3. Determine a suitable way to combine the orders_products_combined dataframe with the products data set

In [45]:
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on='product_id', how='inner', indicator=True)

ValueError: Cannot use name of an existing column for indicator column

I think the problem here is that the column "merge" already exists in the df_ords_prods_combined dataframe. Therefore, I have to drop it from the dataframe before operating the merging procedure.

In [ ]:
# Drop unnecessary columns
df_ords_prods_combined = df_ords_prods_combined.drop(['_merge'], axis=1)

In [ ]:
# Check output
df_ords_prods_combined.head()

In [ ]:
df_ords_prods_combined.shape

In [ ]:
# Merge the updated dataframes
df_ords_prods_merge = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

In [ ]:
# Check the output
df_ords_prods_merge.head()

In [ ]:
df_ords_prods_merge.shape

# 4. Confirm the results of the merge using the merge flag

In [ ]:
df_ords_prods_merge['_merge'].value_counts()

The data frame after merging has 32404859 rows, and each of those rows have information found in both input data sets, as we used an inner join for the purposes of this project.

# 5. Export the newly created dataframe as ords_prods_merge in a suitable format

In [46]:
# Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))